// @import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


.nav-items {
    padding-top: 40px;
    background:#113C60;

    .nav-item {
      padding: 25px 25px;
      cursor: pointer;
      @media only screen and (max-width: 1300px) {
        padding: 25px 40px;
        
      }
      &:hover {
        background-color: rgb(1, 38, 69);
        color: aqua;
      }
        // fa-icon {
        //   margin-right: 20px;
        //   font-size: 22px;
        // }
      span {
        display: inline;
        @media only screen and (max-width: 1300px) {
          display: none;
        }
      }
    }
  }
  .icon{
    margin-top: 2px;
    margin-right: 20px;
    font-size: 22px;
  }